a, a:hover{
	color: #19419B;
}
.navbar-default{
	background: rgba(0,0,0,0.7);
}

.form-control:focus {
  border-color: #19419B;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #19419B;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 2px #19419B;
}

.service .carousel-indicators .active {
	background: #19419B;
}

.btn-theme {
	background: #19419B;
}
